@import url(./partials/_variables.css);

/* navigation */

.header_area,
.main-menu,
.navbar,
.navbar-brand {
    padding: 0 2rem 0 5rem;
    /* background-color: antiquewhite; */
}

.navbarScroll.navbar {
    background-color: white;
}

.header_area,
.main-menu,
.navbar {
    pad: 1rem 20rem;
}

.header_area,
.main-menu,
.nav-item,
.nav-link {
    font: normal 500 15px/2px var(--roboto);
    /* font-family: var(--roboto); */
    text-transform: uppercase;
    /* font-weight: 500; */
    padding: 1.5rem;
    color: var(--title-color);
}

.header_area,
.main-menu,
.navbar-nav,
.active,
a {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area,
.main-menu,
.navbar-nav,
a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* position: fixed; */
}


/* .box {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    border-style: double;
} */


/* banner */

.site-main,
.site-banner,
.site-title,
h3 {
    /* background: url(/img/rsz_11logo.png) no-repeat;
    background-position: 0% 50%; */
    /* padding-top: 35%; */
    font: normal 30px/62px var(--roboto);
    font-weight: 500;
    padding-bottom: 0px;
}

.site-main,
.site-banner,
.site-title,
h3::after {
    content: '';
    /* height: 0px; */
    width: 18vw;
    /* background: black; */
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main,
.site-banner,
.site-title,
h1 {
    font-size: 2.5rem;
}

.site-main,
.site-banner,
.site-title,
h4 {
    font: normal 30px/62px var(--roboto);
    padding-top: 2px;
    font-size: 1.5rem;
}

.site-main,
.site-banner,
.banner-image>img {
    padding: 2rem 0;
    width: 90rem;
    float: right;
}

#img1 {
    float: right;
}

.title-text1 {
    padding-top: 12.5%;
    font: normal bold 30px/62px var(--roboto);
}

.button {
    padding: .8rem 2.2rem;
    font: normal 600 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button,
.primary-button {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    /* transition: background .6s ease; */
    box-shadow: var(--box-shadow);
}

.button .primary-button:hover {
    background: whitesmoke;
    /* background-color: var(--gradient-color); */
    background-clip: padding-box;
    color: black;
    /* background-color: var(--gradient-color); */
}

.button .primary-button::after .secondary-button::after {
    position: relative;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: var(--gradient-color);
    content: '';
    /* z-index: -1; */
    border-radius: 4px;
}

.button .secondary-button {
    background: white;
    background-clip: padding-box;
    /* transition: background .6s ease; */
}

.button,
.secondary-button:hover {
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

#btn1 {
    margin-right: 0.5px;
}


/* education */

.site-main,
.edu-area {
    padding: 8rem 5rem;
}


/* .site-main,
.edu-area,
.edu-title,
h2>span {
    display: block;
    font: normal bold 20px/40px var(--roboto);
    letter-spacing: 21px;
} */

.site-main,
.edu-area,
.edu-title {
    padding: .4rem 0;
}

.padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#table1 {
    padding-top: 15rem;
    text-align: center;
    text-size-adjust: 50%;
    height: 20%;
    font-size: 15px;
}

.a {
    font-size: 20px;
    background: white;
    /* box-shadow: var(--box-shadow); */
    list-style-position: inside;
    padding: 20px;
}

.p {
    font-size: 25px;
}


/* .padding {
    padding: 2rem 2rem 2rem 2rem;
} */

.services {
    /* padding-left: 7rem; */
    box-shadow: var(--box-shadow);
    background-color: whitesmoke;
}

.footer {
    padding-top: 45%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--gradient-color);
    box-shadow: var(--box-shadow);
    padding-top: 1rem;
    font-weight: 800;
    font-size: 1.2rem;
}


/* @media screen and (max-width:600px) {
    h1 {
        font-size: auto;
    }
} */